html,body {
    background-color: #2F3136;
}
#server_name {
    color: #fff;
    border-bottom: solid 1px #232427;
}
#server_userlist {
    border: 1px solid #2C2D32;
}
#server_userlist .container {
    border: 1px solid #2C2D32;
}
#server_join {
    border-top: solid 1px #232427;
}
.discord_user {
    color: #8e9297;
}
.discord_user:hover {
    color: #dcddde;
    background-color: rgba(79, 84, 92, 0.16);
}
.discord_user:hover .discord_status {
    border-color: #34373C;
}
.discord_status {
	border: solid 3px #2f3136;
}